strong { font-weight: var(--font-weight-semibold); }

.sharpen-text-xs  { font-size: var(--font-size-xs); }
.sharpen-text-sm  { font-size: var(--font-size-sm); }
.sharpen-text-md  { font-size: var(--font-size-md); }
.sharpen-text-lg  { font-size: var(--font-size-lg); }
.sharpen-text-xl  { font-size: var(--font-size-xl); }
.sharpen-text-2xl { font-size: var(--font-size-2xl); }
.sharpen-text-3xl { font-size: var(--font-size-3xl); }
.sharpen-text-4xl { font-size: var(--font-size-4xl); }
.sharpen-text-5xl { font-size: var(--font-size-5xl); }

.sharpen-text--left    { text-align: left; }
.sharpen-text--right   { text-align: right; }
.sharpen-text--center  { text-align: center; }
.sharpen-text--justify { text-align: justify; }

.sharpen-text-body, .sharpen-text-container {
  font-family: var(--font-family-sans);
  line-height: 1.5;
}

.sharpen-text-container {
  max-width: var(--max-width-for-reading);
  ul.sharpen-list, p { margin-bottom: var(--spacing-md); }
}

[class^="sharpen-heading-"] {
  margin: 0 0 0.75em;

  .sharpen-icon {
    vertical-align: -3px;
    margin-right: var(--spacing-sm);
  }
}

.sharpen-heading-md {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-md);
}

.sharpen-heading-xl {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-xl);
  color: var(--color-evergreen);
}

.sharpen-heading-2xl {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-2xl);
  color: var(--color-evergreen);
}

.sharpen-heading-2xl-sans {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-semibold);
}

.sharpen-heading-3xl, .sharpen-heading-3xl--bordered {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-3xl);
  color: var(--color-evergreen);
  margin-bottom: var(--spacing-lg);

  .sharpen-icon {
    font-size: 32px;
    vertical-align: -4px;
  }
}

.sharpen-heading-3xl--bordered {
  border-bottom: 1px solid var(--color-mint);
  padding-bottom: var(--spacing-md);
}

.sharpen-text-intro {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  color: var(--color-gray-1); 
}

.sharpen-text-muted {
  color: var(--color-gray-1);
}

ol.sharpen-list, ul.sharpen-list {
  margin: 0;
  padding: 0 0 0 var(--spacing-md);
  line-height: 1.5;

  li + li {
    margin-top: var(--spacing-sm);
  }
}

dl.sharpen-list {
  font-family: var(--font-family-sans);
  margin: 0;

  dt {
    font-size: var(--font-size-xs);
    color: var(--color-gray-1); 
    margin-bottom: var(--spacing-xs);
  }

  dd {
    font-size: var(--font-size-sm);
    margin: 0;

    .sharpen-icon {
      font-size: 18px;
      vertical-align: -3px;
      margin-right: var(--spacing-xs);
    }
  }

  dd + dt {
    margin-top: var(--spacing-md);
  }
}