.sharpen-table {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--font-family-sans);

  th, td { padding: calc(0.5 * var(--spacing-lg)) var(--spacing-sm); }
  th {
    font-weight: var(--font-weight-semibold);
    text-align: left;
  }

  tbody tr {
    th, td { border-top: 1px solid var(--color-gray-4); }
  }
}

.sharpen-table-controls-end {
  td:last-child { text-align: right; white-space: nowrap; }
}

.sharpen-table-hover {
  tbody tr:hover { background-color: var(--color-gray-5); }
}

//
// Pricing Table
//

.sharpen-table--pricing {
  tr > :first-child { padding-left: 0; }
  tr > :last-child { padding-right: 0; }

  thead {
    text-transform: uppercase;
    font-size: var(--font-size-xs);
  }

  tbody td:last-child {
    text-align: right;
  }
}

//
// Practice-Progress Table
//

.sharpen-table-practice {
  background-color: var(--color-ivory);

  th, td {
    padding: var(--spacing-md);
    vertical-align: top;
  }

  th {
    text-transform: uppercase;
    font-size: var(--font-size-xs);
    width: 50%;
  }

  tbody tr { th, td { border-top: 2px solid var(--color-white); } }

  .icon-set {
    margin-left: -4px;
    margin-top: var(--spacing-xs);

    .sharpen-icon {
      font-size: 32px;
      letter-spacing: -2pt;
    }
  }

  .lessons-4 { color: var(--color-orange); }
  .lessons-3 { color: var(--color-dark-orange); }
  .lessons-2 { color: var(--color-gray-2); }
  .months { color: var(--color-gray-2); }
}

.sharpen-table--headless {
  tbody tr:first-child { th, td { border-top: 0; } }
}