sharpen-card-header {
  display: block;
  background-color: var(--color-evergreen);
  color: var(--color-white);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-lg);
  padding: var(--spacing-md);
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
}