:root {
  /**
  * @tokens Colors
  * @presenter Color
  */
  --color-evergreen:  #2C5652;
  --color-pine:       #31776C;
  --color-mint:       #C8EBD7;
  --color-sky:        #BFE5F0;
  --color-sunrise:    #FCE7AE;
  --color-ivory:      #FDF6EC;
  --color-putty:      #FFFBF6;

  --color-black:      #000000;
  --color-gray-1:     #626262;
  --color-gray-2:     #9D9D9D;
  --color-gray-3:     #AEAEAE;
  --color-gray-4:     #E6E6E6;
  --color-gray-5:     #F5F5F5;
  --color-white:      #FFFFFF;

  --color-red:          #D05050;
  --color-dark-red:     #A11B1B;
  --color-light-red:    #FFCACA;

  --color-orange:       #E5AB54;
  --color-dark-orange:  #C2862B;
  --color-light-orange: #FFE7C3;

  --color-green:        #50CD89;
  --color-dark-green:   #31776C;
  --color-light-green:  #C8EBD7;

  /**
   * @tokens Fonts
   * @presenter FontFamily
   */
  --font-family-serif: 'Sharpen Serif', serif;      /* i.e P22 Mackinac Pro */
  --font-family-sans:  'Sharpen Sans', sans-serif;  /* i.e. Sohne */
  --font-family-mono: ui-monospace, 'SF Mono', Menlo, Monaco, 'Cascadia Mono',
      'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
      'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New',
      monospace;

  /**
   * @tokens Font Weights
   * @presenter FontWeight
   */
  --font-weight-book:     400;
  --font-weight-semibold: 600;
  --font-weight-bold:     700;

  /**
   * @tokens Font Sizes
   * @presenter FontSize
   */
  --font-size-xs:    0.875rem;  // 14px
  --font-size-sm:    1rem;      // 16px
  --font-size-md:    1.125rem;  // 18px
  --font-size-lg:    1.25rem;   // 20px
  --font-size-xl:    1.375rem;  // 22px
  --font-size-2xl:   1.625rem;  // 26px
  --font-size-3xl:   2.125rem;  // 34px
  --font-size-4xl:   2.75rem;   // 44px
  --font-size-5xl:   4rem;      // 64px

  /**
   * @tokens Spacing
   */
  --spacing-xxs: 2px;
  --spacing-xs:  4px;
  --spacing-sm:  8px;
  --spacing-md:  16px;
  --spacing-lg:  32px;
  --spacing-xl:  64px;

  --grid-gutter: var(--spacing-lg);

  --max-width-for-reading: 40rem;

  /**
   * @tokens Borders
   * 
   * "hair" is 1px
   * "thin" is 2px
   */
  --border-hair-solid-green:      1px solid var(--color-green);
  --border-hair-solid-gray-4:     1px solid var(--color-gray-4);
  --border-thin-solid-gray-4:     2px solid var(--color-gray-4);
  --border-thin-solid-evergreen:  2px solid var(--color-evergreen);
  --border-thin-solid-pine:       2px solid var(--color-pine);
  --border-thin-solid-sunrise:    2px solid var(--color-sunrise);
  --border-thin-solid-dark-red:   2px solid var(--color-dark-red);


  /**
   * @tokens Border Radius
   * @presenter BorderRadius
   */
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 16px;
}