.reading-controls {
  display: flex;
  gap: 1em;
}

.reading-controls .sharpen-button {
  padding: var(--spacing-sm) var(--spacing-lg);
}

.reading-controls #story-next {
  flex: 1;
}

sharpen-story-page {
  overflow-y: hidden;
}

sharpen-story-page .text {
  opacity: 0;
}