.sharpen-form-group {
  margin-bottom: var(--spacing-md);
}

.sharpen-form-label, .sharpen-form-control, .sharpen-form-text, .sharpen-form-survey {
  font-family: var(--font-family-sans);
}

.sharpen-form-label {
  display: block;
  font-size: var(--font-size-sm);
  color: var(--color-gray-1);
  line-height: 1.4;
  padding: 0 0 var(--spacing-sm);
}

.sharpen-form-control {
  width: 100%;
  font-size: var(--font-size-sm);
  padding: var(--spacing-md);
  background: var(--color-white);
  border: var(--border-thin-solid-gray-4);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-sm);
  line-height: 140%;
  color: var(--color-black);

  &:focus {
    outline: none !important;
    border: var(--border-thin-solid-pine);
  }

  &[disabled] {
    color: var(--color-gray-1);
    background-color: var(--color-gray-4);
  }
}

.sharpen-form-text {
  font-size: var(--font-size-xs);
  padding-top: var(--spacing-sm);
  color: var(--color-gray-2);
}

.sharpen-form-error {
  .sharpen-form-label, .sharpen-form-text--error {
    color: var(--color-dark-red);
  }
  .sharpen-form-control {
    border-color: var(--color-dark-red);
  }
  .sharpen-form-check .sharpen-form-check-input {
    border-color: var(--color-light-red);
  }
}

.sharpen-form-check {
  display: flex;
  padding-bottom: var(--spacing-sm);

  .sharpen-form-label {
    display: inline;
    flex: 1;
    padding: 0;
  }
}

.sharpen-form-check-input {
  position: relative;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 2px var(--spacing-sm) 0 0;
  border: solid 4px var(--color-gray-4);

  &[disabled] {
    background-color: var(--color-gray-5);

    &:checked::before {
      opacity: 0.5;
    }
  }

  &:checked::before {
    content: '';
    background-color: var(--color-pine);
    position: absolute;
  }

  &[type="radio"], &[type="radio"]:checked::before {
    border-radius: 100%;    
  }

  &[type="radio"]:checked::before {
    width: 12px;
    height: 12px;
    top: 0px;
    left: 0px;
  }

  &[type="checkbox"] {
    border-radius: 2px;
  }

  &[type="checkbox"]:checked::before {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-image: url("assets/images/form-icon-check@2x.png");
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: 8px 6px;
  }
}

.sharpen-form-document {
  font-family: monospace;
  padding: var(--spacing-md);
  background: var(--color-white);
  border: var(--border-thin-solid-gray-4);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-sm);
  margin-bottom: var(--spacing-md);
  overflow-y: scroll;
  height: 200px;
  max-width: var(--max-width-for-reading);

  h5, p {
    color: var(--color-gray-1);
    font-size: 9pt;
  }

  h5, p { margin: 0 0 0.5em 0; }
  * + h5 { margin-top: 1.5em; }
}

.sharpen-form-survey {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: var(--font-size-xs);
    text-align: center;
    width: 10rem;
    height: 6rem;
    border: var(--border-hair-solid-gray-4);
    border-radius: var(--border-radius-sm);
    padding: var(--spacing-md);
    cursor: pointer;

    &:hover { background-color: var(--color-putty); }
  }

  &.sharpen-form-survey-column {
    display: block;

    label {
      display: block;
      width: 100%;
      height: auto;
      border: none;
      background-color: var(--color-ivory);
      font-size: var(--font-size-sm);

      &:hover { background-color: var(--color-mint); }
    }

    .sharpen-form-survey-option + .sharpen-form-survey-option {
      margin-top: 0.75em;
    }

    input[type="checkbox"] {
      float: left;
      width: 2em;
      height: 2em;
      margin: 1em;
    }

    input[type="checkbox"] + label {
      text-align: left;
    }
  }

  input[type="radio"] {
    display: flex;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;

    &:focus-visible { outline: none; }
    &:focus + label { border-color: var(--color-pine); }

    &:checked + label {
      background-color: var(--color-mint);
      border-color: var(--color-pine);
    }
  }
}