.hide {
  display: none !important;
}

html, .sharpen-lesson { height: 100%; overflow: hidden; }

/*body.sharpen-lesson {
  --s: 100px;
  --c1: #2C5652;
  --c2: #31776C;
  
  --_g: 
     var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
     var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
  background:
    radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
    radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
    var(--c1);
  background-size: var(--s) var(--s);
}*/

/*body.sharpen-lesson {
  --s: 150px;
  --c1: #31776C;
  --c2: #2C5652;
  
  --_g: var(--c1)        6.2%,var(--c2)  6.3% 18.7%,var(--c1) 18.8% 31.2%,
        var(--c2) 31.3% 43.7%,var(--c1) 43.8% 56.2%,var(--c2) 56.3% 68.7%,#0000 68.8%;
  background:
    radial-gradient(var(--s) at 100% 0   ,var(--_g)),
    radial-gradient(var(--s) at 0    0   ,var(--_g)),
    radial-gradient(var(--s) at 0    100%,var(--_g)),
    radial-gradient(var(--s) at 100% 100%,var(--_g)) var(--c1);
  background-size: var(--s) var(--s);
}*/

body.sharpen-lesson {  
  --s: 50px; /* control the size */
  --c: #31776C; /* first color */
  
  --_g: #0000 8%,var(--c) 0 17%,#0000 0 58%;
  background: 
    linear-gradient(135deg,#0000 20.5%,var(--c) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
    linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
    linear-gradient(135deg,var(--_g),var(--c) 0 67%,#0000 0),        
    linear-gradient( 45deg,var(--_g),var(--c) 0 67%,#0000 0 83%,var(--c) 0 92%,#0000 0),
    #2C5652; /* second color */
  background-size: var(--s) var(--s);
}

.sharpen-button--circle {
  padding: var(--spacing-sm);
  border-radius: 100%;
}

.sharpen-lesson {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.sharpen-lesson .interface {
  display: flex;
  aspect-ratio: 4 / 3;
  width: 100%;
/*  border: 2px solid rgba(255, 255, 255, 0.1);*/
}

@media (min-aspect-ratio: 4 / 3) {
  .sharpen-lesson .interface {
    height: 100%;
    width: auto;
  }
}

.sharpen-lesson-close {
  border: none;
  background: none;
  color: white;
  padding: 0 var(--spacing-md) var(--spacing-lg);
}

.sharpen-lesson-close .sharpen-icon {
  font-size: 32pt;
  cursor: pointer;
}

.sharpen-lesson .primary {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.sharpen-lesson nav, .sharpen-lesson .instruction {
  padding: var(--spacing-lg);
  
}

.sharpen-lesson nav {
  width: 12rem;
  background-color: var(--color-evergreen);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  border-left: 2px solid white;
}

.sharpen-lesson .sharpen-button--small {
  padding: var(--spacing-md) var(--spacing-sm);
  width: 100%;
  line-height: 1.2;
}


.sharpen-lesson nav .sharpen-button--primary {
  background-color: var(--color-mint);
  color: black;
}

.sharpen-lesson nav .movement {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sharpen-lesson nav .metadata {
  display: flex;
  margin-bottom: var(--spacing-lg);
}

.sharpen-lesson nav .metadata .lesson, .sharpen-lesson nav .activity-step {
  font-family: "Sharpen Serif", serif;
  font-size: var(--font-size-xs);
  color: var(--color-sunrise);
  text-align: left;
  flex: 1;

}

.sharpen-lesson nav .metadata .lesson-close {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

.sharpen-lesson nav .metadata .lesson-close .sharpen-icon {
  font-size: 24pt;
}

.sharpen-lesson nav .lesson-info {
  font-family: "Sharpen Serif", serif;
  font-size: var(--font-size-xs);
  color: var(--color-sunrise);
}

.sharpen-lesson nav .activity-step {
  text-align: center;
}

.sharpen-lesson nav .actions .sharpen-button + .sharpen-button {
  margin-top: 1em;
}

.sharpen-lesson .instruction {
  display: flex;
  align-items: center;
  gap: 1em;
  border-bottom: 1px dotted #ccc;
}

.sharpen-lesson .instruction .text {
  flex: 1;
  font-size: var(--font-size-xl);
  color: var(--color-gray-1);
}

.sharpen-lesson .activity {
  text-align: center;
  flex: 1;
  background-color: var(--color-putty);
}

.sharpen-lesson .activity img {
  margin-top: 130px;
}

.sharpen-lesson .instruction .brand {
  display: flex;
  align-items: center;
  width: 3rem;
}

.sharpen-lesson .instruction .brand img {
  max-width: 100%;
}

.sharpen-lesson .help-content {
  padding: var(--spacing-lg);
  background-color: var(--color-pine);
  padding-right: 0;
  height: 7rem;
  color: white;
  font-family: "Sharpen Serif", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/** HAND GESTURE **/

.sharpen-lesson .activity .gesture {
  text-align: center;
  display: block;
  position: absolute;
  transition: left 0.5s;
}

.sharpen-lesson .activity .gesture * {
  transform-origin: 50% 50%;
  perspective: 100px;
}


.sharpen-lesson .activity svg {
  display: inline-block;
  width: 250px;
}

@keyframes tap {
  0% {
    transform: rotateX(0deg);
  }
  10% {
    transform: rotateX(12.5deg);
  }
  25% {
    transform: rotateX(25deg);
  }
}

@keyframes tap-circle {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  75% {
    transform: scale(1.05);
    opacity: .6;
  }
  80% {
    transform: scale(1);
    opacity: .5;
  }
}

.hand-tap {
  fill: #fff;
  stroke: #000;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.gesture.animate .hand-tap {
  animation: tap 1.25s ease-out backwards;
  animation-iteration-count: 1;
}

.tap-1 {
  opacity: .5;
  fill: transparent;
  stroke: var(--color-pine);
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.gesture.animate .tap-1 {
  animation: tap-circle 1.25s ease-out backwards;
  animation-iteration-count: 1;
}


/** PULSE **/

.pulse {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.6);
  animation: pulse 1.5s infinite;
/*  background-color: var(--color-mint);*/
/*  border-color: var(--color-pine);*/
}

.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/** LISTEN **/

.listen:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4,end) 1.5s infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 0.75em;    
  }
}