.example {
  background-color: #336699;
  color: white;
  padding: 1em;
  text-align: center;
}

.tokens-preview-combination {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.10) 0 1px 3px 0;
  border: 1px solid hsla(203, 50%, 30%, 0.15);
  padding: 1em;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
}

.tokens-preview-combination + .tokens-preview-combination {
  margin-top: 1em;
}

.spacing-examples {
  background-color: lightyellow;
}

.spacing-examples > div {
  font-family: monospace;
  border: 1px dashed #999;
  background-color: #ccc;
}

.row + .row {
  margin-top: 1em;
}

[id^="story--utilities-flex"] .d-flex, [id^="story--utilities-flex"] .d-inline-flex {
  background-color: var(--color-ivory);
  border: 1px dotted var(--color-pine);
  margin-bottom: var(--spacing-md);
}

[id^="story--utilities-flex"] .d-flex > div, [id^="story--utilities-flex"] .d-inline-flex > div {
  background-color: var(--color-mint);
  border: 1px solid var(--color-pine);
  padding: var(--spacing-sm);
}

[id^="story--utilities-flex"] [class^="d-flex align-items"] {
  height: 6rem;
}

[id^="story--utilities-flex"] [class^="d-flex align-content"] {
  height: 10rem;
}

/** STORYMAKER PROTOTYPE PAGES **/

.storymaker, .storymaker .sharpen-button, .storymaker .sharpen-form-label {
  font-family: Lexend, sans-serif;
}

.storymaker p {
  line-height: var(--line-height--generous);
}

.storymaker .story-reactions {
  display: flex;
}

.storymaker .story-reactions a {
  flex: 1;
  text-align: center;
}

.storymaker .story-reactions .sharpen-icon {
  font-size: 96pt;
}

.storymaker .story-reactions img {
  width: 96pt;
}

.storymaker .product-option {
  background-color: var(--color-pine);
  color: white;
}

.storymaker .product-option h2 {
  text-decoration: underline;
}