.sharpen-icon {
  font-family: 'Sharpen Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: text-bottom;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;

  &.filled {
    font-variation-settings: 'FILL' 1;
  }
}