@font-face {
  font-family: 'Sharpen Serif';
  src: url('assets/fonts/P22MackinacPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharpen Sans';
  src: url('assets/fonts/Sohne-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharpen Sans';
  src: url('assets/fonts/Sohne-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharpen Sans';
  src: url('assets/fonts/Sohne-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharpen Icons';
  src: url('assets/fonts/material-symbols-outline.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}