.hide { display: none !important; }

/** Storymaker uses a typeface that's design for learning readers. */
.storymaker, .storymaker .sharpen-button, .storymaker .sharpen-form-label {
  font-family: Lexend, sans-serif;
}

.storymaker p {
  line-height: var(--line-height--generous);
}

/** REACTIONS **/

.storymaker .story-reactions {
  display: flex;
}

.storymaker .story-reactions a {
  flex: 1;
  text-align: center;
}

.storymaker .story-reactions .sharpen-icon {
  font-size: 96pt;
}

.storymaker .story-reactions img {
  width: 96pt;
}

/** UPGRADE **/

.storymaker .product-option {
  background-color: var(--color-pine);
  color: white;
}

.storymaker .product-option h2 {
  text-decoration: underline;
}



/** DIFFERENT DEVICE LINK **/

.storymaker-link input {
  font-family: monospace;
  text-align: center;
  font-size: 16pt;
}

.sharpen-table-stories td:first-child { width: 5rem; }
.sharpen-table-stories img { max-width: 100%; }

.sharpen-table-storymaker-invites td:first-child { text-align: center; font-size: var(--font-size-lg) }
.sharpen-table-storymaker-invites td:last-child { width: 5rem; }
.sharpen-table-storymaker-invites td:last-child button {
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-md) calc(var(--spacing-sm) * 1.25);
}